/* Define que a página inteira tenha altura de 100% */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Faz com que o body use Flexbox e distribua o conteúdo */
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Espaça o conteúdo para manter o footer embaixo */
    background-color: #f5f5f5;
    font-family:'Lucida Sans Unicode', 'Lucida Grande';
    transition: background-color 0.4s ease, color 0.4s ease; /* Transições de cor de fundo e texto */
}

header {    
    padding-top: 2px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    background-color: #78bfd6;
    color: white;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.8);

}

.header-box {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-box h1 {
    margin-bottom: 4px;
    letter-spacing: 2px;
    font-size: 5vh;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8);
}

.header-box p {
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 2vh;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.conteiner {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;     /* Centraliza verticalmente */
    flex-direction: column;  /* Centraliza os elementos na coluna */
    width: 100%; /* Ajusta a largura do conteúdo */
}

.inputText {
    width: 60%;
    padding: 10px;
    margin: 5px;
    justify-content: center;
    text-align: center;
    height: 5vh;
}

.inputText::placeholder {
    letter-spacing: 2px;
}

.inputText {
    border-radius: 20px;
    border: 2px solid #78bfd6;
    background-color: #f5f5f5;
    font-weight: bold;

}

.inputText::after {
    border-color: #78bfd6;
}

.conteiner-out {
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    
}


.output {
    font-size: 2vh;
    text-align: center;
    margin: 5px;
    font-weight: bold;
}


.btn {
    font-weight: bold;
    letter-spacing: 1px;
    padding: 8px;
    font-size: 7vh;
    border-radius: 15px;
    border: 2px solid #f9f9f9;
    background-color: #f5f5f5;
    margin: 5px;
    
}

.convert {
    background: #78d69c;
    border: 2px solid #78d69c;
    transition: 0.5s ease;
    color: #fff;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8);
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8);
}

.btnClean {
    background: #78bfd6;
    border: 2px solid #78bfd6;
    transition: 0.5s ease;
    color: #fff;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8);
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8);
}

.convert:hover {
    background-color: #f5f5f5;
    border: 2px solid #78d69c;
    text-shadow: none;
    transition: 0.5s ease;
    color: #000000;
}

.btnClean:hover {
    background-color: #f5f5f5;
    border: 2px solid #78bfd6;
    text-shadow: none;
    transition: 0.5s ease;
    color: #000000;
}


/* Footer fixo no final da página */
footer {
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 1px 0;
    width: 100%;
}


/* Estilo para o Modo Escuro */

.theme-checkbox {
    margin: 5px;
    position: fixed;
    --toggle-size: 6px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 6.25em;
    height: 3.125em;
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, #efefef), color-stop(50%, #2a2a2a)) no-repeat;
    background: -o-linear-gradient(left, #efefef 50%, #2a2a2a 50%) no-repeat;
    background: linear-gradient(to right, #efefef 50%, #2a2a2a 50%) no-repeat;
    background-size: 205%;
    background-position: 0;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    border-radius: 99em;
    cursor: pointer;
    font-size: var(--toggle-size);
}

.theme-checkbox::before {
    content: "";
    width: 2.25em;
    height: 2.25em;
    position: absolute;
    top: 0.438em;
    left: 0.438em;
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, #efefef), color-stop(50%, #2a2a2a)) no-repeat;
    background: -o-linear-gradient(left, #efefef 50%, #2a2a2a 50%) no-repeat;
    background: linear-gradient(to right, #efefef 50%, #2a2a2a 50%) no-repeat;
    background-size: 205%;
    background-position: 100%;
    border-radius: 50%;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.theme-checkbox:checked::before {
    left: calc(100% - 2.25em - 0.438em);
    background-position: 0;
}

.theme-checkbox:checked {
    background-position: 100%;
}

body.dark-mode {
    background: #444;
    color: #fff;
}
body.dark-mode header {
    background: #333;
    color: #78bfd6;

}

body.dark-mode .btn {
    background: #444;
}

body.dark-mode .btnClean {
    color: #dcdcdc;
    border: 2px solid #78bfd6;
    transition: border-color 0.5s ease;
}

body.dark-mode .btnClean:hover {
    background: #78bfd6;
    transition: 0.5s ease;
    color: #0061a5;
}


body.dark-mode .convert {
    color: #dcdcdc;
    border: 2px solid #78d69c;
    transition: border-color 0.5s ease;
}

body.dark-mode .convert:hover {
    background: #78d69c;
    transition: 0.5s ease;
    color: #04682a;
}

body.dark-mode .inputText {
    background: #444;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8);
    border: 2px solid #78bfd6;
    transition: border-color 0.5s ease;
    color: #fff;
}

body.dark-mode .inputText::placeholder {
    color: #bbbbbb;
}

body.dark-mode footer {
    background: #333;
    color: #fff;
}


/* Ajustes para telas menores, até 480px de largura */
@media (max-width: 480px) {
    header {
        padding: 10px;
        text-align: center;
    }

    .header-box h1 {
        font-size: 5vh;
    }

    .header-box p {
        font-size: 2vh;
    }

    .inputText {
        width: 90%;
        font-size: 1.6vh;
    }

    .conteiner-out {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .btn {
        width: 90%;
        font-size: 1.8vh;
    }

    footer {
        font-size: 1.4vh;
        padding: 1px 0;
    }
}

/* Ajustes para telas entre 481px e 768px de largura */
@media (min-width: 481px) and (max-width: 1431px) {
    .header-box h1 {
        font-size: 4.5vh;
    }

    .header-box p {
        font-size: 2.3vh;
        padding-bottom: 1px;
    }

    .inputText {
        width: 80%;
        font-size: 2.2vh;
    }

    .inputText::placeholder {
        letter-spacing: 2px;
        font-size: 2.5vh;
    }

    .conteiner-out {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 20px;
    }

    .btn {
        width: 45%;
        font-size: 2.1vh;
    }

    footer {
        font-size: 2vh;
        padding: 1px 0;
    }
}

/* Ajustes para telas acima de 768px de largura */
@media (min-width: 1440px) {
    .header-box h1 {
        font-size: 6vh;
    }

    .header-box p {
        font-size: 3vh;
    }

    .inputText {
        width: 60%;
        font-size: 3vh;
    }

    .conteiner-out {
        flex-direction: row;
        justify-content: center;
    }

    .btn {
        width: auto;
        font-size: 2.6vh;
    }

    footer {
        font-size: 3vh;
        padding: 1px 0;
    }
}


