* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Aplicar box-sizing globalmente */
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.header-box {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    letter-spacing: 1px;
    text-shadow: 0px 0px 0.5px rgba(0, 0, 0, 0.5);
    font-size: 8vh;
    color: #78bfd6;
    white-space: nowrap;
    text-overflow: ellipsis;
}

header p {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 20px;
    background: rgba(225, 225, 225, 0.1);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
    margin: 5% auto;
    width: 60%;
    max-width: 800px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1px;
    padding: 10px;
    gap: 0.6rem;
    width: 100%;
}

.container input {
    width: 100%;
    max-width: 400px;
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
    border: 1px solid #78bfd6;
    transition: border-color 0.5s ease;
}

button {
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
    border: 1px solid #78bfd6;
    transition: border-color 0.5s ease;
    background: white;
    cursor: pointer;
}

button:hover {
    background: #66a3b8;
    transition: 0.5s ease;
    color: #fff;
}


/*BTN*/

.convert {
    font-weight: bold;
    border-color: #78d69c;
    color: #78d69c;
    border: 1px solid #78d69c;
    background: white;
}

.convert:hover {
    background: #78d69c;
    transition: 0.5s ease;
    color: #fff;
}

input:active {
    border-color: #78bfd6;
}

.container-out {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
    width: 100%;
}

.container-out button {
    margin: 2px;
}

.output {
    box-sizing: border-box;
    font-size: 2vh;
    text-align: center;
    margin-top: 4px;
    font-weight: bold;
    width: 100%;
}

footer {
    position: fixed;
    text-align: center;
    bottom: 0;
    width: 100%;
    z-index: 100;
    background: #f8f8f8;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
    padding: 10px 0;
}


/* Estilo para o Modo Escuro */

.theme-checkbox {
    margin: 2px;
    position: absolute;
}

.theme-checkbox {
    margin-top: 2px;
    margin-left: 1px;
    position: fixed;
    --toggle-size: 6px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 6.25em;
    height: 3.125em;
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, #efefef), color-stop(50%, #2a2a2a)) no-repeat;
    background: -o-linear-gradient(left, #efefef 50%, #2a2a2a 50%) no-repeat;
    background: linear-gradient(to right, #efefef 50%, #2a2a2a 50%) no-repeat;
    background-size: 205%;
    background-position: 0;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    border-radius: 99em;
    cursor: pointer;
    font-size: var(--toggle-size);
}

.theme-checkbox::before {
    content: "";
    width: 2.25em;
    height: 2.25em;
    position: absolute;
    top: 0.438em;
    left: 0.438em;
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, #efefef), color-stop(50%, #2a2a2a)) no-repeat;
    background: -o-linear-gradient(left, #efefef 50%, #2a2a2a 50%) no-repeat;
    background: linear-gradient(to right, #efefef 50%, #2a2a2a 50%) no-repeat;
    background-size: 205%;
    background-position: 100%;
    border-radius: 50%;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.theme-checkbox:checked::before {
    left: calc(100% - 2.25em - 0.438em);
    background-position: 0;
}

.theme-checkbox:checked {
    background-position: 100%;
}

body.dark-mode {
    background: #333;
    color: #fff;
    transition: 0.5s ease;
}

body.dark-mode button {
    background: #333;
}

body.dark-mode .btnClean {
    transition: 0.5s ease;
    color: #fff;
}

body.dark-mode .btnClean:hover {
    border-color: #78d69c;
    background: #898989;
    transition: 0.5s ease;
    color: #fff;
}

body.dark-mode #inputText {
    background: #333;
    border: 1px solid #78bfd6;
    transition: border-color 0.5s ease;
    color: #fff;
}

body.dark-mode footer {
    background: #2a2a2a;
    color: #fff;
}